<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <h3><center>Museum.me Privacy Policy</center></h3>
    </head>
    <body>
        <ul>
            We respect your privacy. 
            We won’t use your e-mail and name under any circumstances and is not stored beyond your viewing session.
        </ul>
        <ul>
            WrapBootstrap only collects such personal information that is necessary for you to load your museum. This personal information includes, but is not limited to, first and last name, email address, Facebook photos (posted by you), and statuses/posts that can be found on your private and public Facebook profile. 
            We won’t share your personal data that is being queried (e-mail, photos, statuses) with any third party. <b>All personal data are not stored.</b>
        </ul>

        <ul>
            We don't display any paid (and unpaid) advertisements on Museum.me. However, we are not responsible for any content beyond the content on Museum.me.
        </ul>
    </body>
</html>